// colors
$black: #000000;
$white: #ffffff;
$primary: #ffbb03;
$grey: #a1a1a1;
$grey-light: #a3a3a3;
$black-light: #202020;
$footer-bottom-color: #808080;
$body-grey: #f9f8f6;
$green: #78b752;
$black-dashboard: #151515;
$danger: #e73b41;
