.card {
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  .card-title {
    margin-bottom: 40px;
  }

  .card-content {
    padding: 40px 37px;

    @media (min-width: 320px) and (max-width: 767px) {
      padding-left: 18px;
      padding-right: 18px;
    }
  }

  &.is-chat {
    background-color: #fefefe;
  }
}

.d-u-card {
  box-shadow: none;

  @media (width: 375px) {
    width: 160px;
  }

  @media (width: 425px) {
    width: 183px;
  }

  .image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
  }

  .card-content {
    padding: 20px 26px;

    @media (max-width: 768px) {
      padding: 14px 10px;
    }

    p {
      color: $black;
    }

    .d-u-details {
      span {
        margin-right: 20px;

        @media (max-width: 375px) {
          margin-right: 8px;
        }

        @media (width: 425px) {
          margin-right: 15px;
        }
      }
    }

    .d-u-name {
      span {
        margin-left: 10px;
      }
    }
  }
}

.d-card-pc {
  max-width: 426px;
  margin: 0 auto;

  .card-content {
    padding: 58px 39px;

    @media (min-width: 320px) and (max-width: 767px) {
      padding-left: 18px;
      padding-right: 18px;
    }
  }

  .d-card-pc-title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 28px;
  }
}

.d-card-ep {
  max-width: 489px;

  .ep-my-photos,
  .ep-prof-info {
    margin-right: 27px;

    @media (max-width: 768px) {
      margin-right: 0;
    }
  }
}

.modal-card {
  &.is-filter {
    width: 300px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
